html {
    scroll-behavior: smooth;
}

body {
    background-color: oldlace;
    opacity: 0;
    transition: opacity 3s;
}

a {
    color: black;
}

p {
    color: black;
    font-size: 22px;
}

.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    height: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: lightblue;
    color: black;
}

a {
    margin-left: 30px;
}

#K {
    width: 50.5%
}

.AboutUs {
    display: flex;
    margin-left: 5px;
    margin-right: 0px;
    padding: 5px;
    justify-content: space-between;
}

.aboutinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutinfo p {
    color: black;
    padding: 100px;
}

.Info {
    margin-left: 9px;
    margin-right: 9px;
    padding: 60px;
    height: 240px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: lightblue;
    color: black;
}

.Info h2 {
    margin-top: 10px;
    font-size: 30px;
    color: black;
}

.Info div {
    display: flex;
}

.Boxes {
    display: flex;
}