html {
    scroll-behavior: smooth;
}

body {
    background-color: oldlace;
    opacity: 0;
    transition: opacity 3s;
}

a {
    color: black;
}

p {
    color: black;
    font-size: 22px;
}

/* Ordbok header */
.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    height: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: lightblue;
    color: black;
    display: grid;
    justify-content: center;
}

/* Random Word button/generator in header */
.random-word {
    background-color: oldlace;
    border-radius: 28px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 16px 31px;
    text-decoration: none;
    margin: auto;
}

.random-word:hover {
    background-color: oldlace;
}

.random-word:active {
    position: relative;
    top: 1px;
}

a {
    margin-left: 30px;
}

.header-grid {
    border: 0px;
    display: grid;
    max-width: 600px;
    margin-top: 20px;
    
}

/* Search Bar located in header */
.search-button{background-color: oldlace;
	border-radius:28px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
    margin: auto;
}

.text-bar{    
    border-radius: 10px;
    height: 30px;
    margin-bottom: 20px;
}

/* K. Okay but with anger. Image fills 50.5% of screen. */
#K {
    width: 50.5%
}

/* "About" section - layout & describing the website */
.AboutUs {
    display: flex;
    margin-left: 5px;
    margin-right: 0px;
    padding: 5px;
    justify-content: space-between;
}

.aboutinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutinfo p {
    color: black;
    text-align: center;
}

/* Properties of Definition & Image boxes */
.Boxes {
    display: flex;
    height: 100%;
}

/* Text & image within Definition & Image boxes */
.Info {
    margin-left: 9px;
    margin-right: 9px;
    padding: 60px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: lightblue;
    color: black;
}

.Info h2 {
    margin-top: 10px;
    font-size: 30px;
    color: black;
}

.Info p::first-letter {
    text-transform: capitalize;
}

.Info div {
    display: flex;
}

/* Media queries at 600 px & 375 px */
@media screen and (max-width: 600px) {
    .AboutUs {
        flex-direction: column;
        align-items: center;
    }

    .aboutinfo p {
        font-size: 15px;
    }

    .Boxes {
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .Info {
        margin: 10px;
    }

    #word-pic {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .aboutinfo p {
        font-size: 15px;
        width: 200px;
    }

    #word-pic {
        height: 100%;
        width: 100%;
    }
}