html {
    scroll-behavior: smooth;
}

body {
    background-color: lightblue;
}

a {
    color: black;
}

p {
    color: black;
    font-size: 22px;
}

.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    height: 100%;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: green;
    color: #ffffff;
}

.nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 25px;
}

a {
    margin-left: 30px;
}

#Friends {
    width: 50%;
}

.AboutUs {
    color: red;
    display: flex;
    margin-left: 5px;
    margin-right: 0px;
    padding: 5px;
    justify-content: space-between;
}

.aboutinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutinfo p {
    color: purple;
    padding: 100px;
}

.Info {
    margin-left: 10px;
    margin-right: 10px;
    padding: 60px;
    height: 240px;
    width: 33%;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: green;
    color: black;
}

.Info h2 {
    margin-top: 10px;
    font-size: 30px;
    color: whitesmoke;
}

.Info div {
    display: flex;
}

.Boxes {
    display: flex;
}

.footer {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: purple;
    color: #ffffff;
    text-align: center;
}